#title {
    text-align: center;
    z-index: 1000;
    background-color: #060606;
    color: #ffffff;
}

h1 {
    font-family: 'Gentium Book Basic', serif;
}

html, .row {
    background-color: #e9ebed;
}

.col-md-3 {
    height: 90%;
    width: 20rem;
}

#map {
    height: 0rem;
}

#map.toggled {
    height: 35rem;
}


/* Spinner declaration */
.loading {
    padding-left: 1rem;
    font-size: 2rem;
    color: #ECCF05;
    display: none;
    text-align: center;
}

.success {
    padding-left: 1rem;
    font-size: 2rem;
    color: #3cba54;
    display: none;
    text-align: center;
}

.fail {
    color: #ffffff;
    display: none;
    text-align: center;
}


b {
    text-decoration: none;
}

#googl-orange {
    color:#ECCF05;
}
/* Main content and side-bar declarations */
#wrapper {
    padding-left: 250px;
    padding-top: 70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0;
}



#sidebar-wrapper {
    z-index: 999;
    padding-top: 75px;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #1a1816;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 70px 20px 20px 20px;
    background-color: #e9ebed;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0;
}

label {
    color: #ECCF05;
}

/* media */

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 70px 20px 20px 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
